.u-section-1 {
  background-image: url("images/ggg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 705px;
}

.u-section-1 .u-group-1 {
  width: 716px;
  background-image: linear-gradient(#fde8ee, #b2c8f3);
  min-height: 333px;
  margin: 89px auto 0 181px;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 7px;
}

.u-section-1 .u-image-1 {
  width: 377px;
  height: 377px;
  background-image: url("images/Cardano-RGB_Logo-Icon-Blue-contained1.png");
  background-position: 50% 50%;
  margin: -114px 0 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: 376px;
  width: 598px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: -551px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: none;
  margin: 30px 31px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 31px 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-left: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: -514px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}